@page "/"
@page "/{page}"
@using WhiteHat.Components
@using WhiteHat.Models
@using WhiteHat.Services
@inject HNFetcher HNFetcher

<PageTitle>WhiteHat | Home</PageTitle>

<div class="story-container">
    @if(_items is null || _items.Count < 0){
        <p>
            loading
        </p>
    }
    else{
        for (var i = 0; i < _items.Count(); i++)
        {
            int index = i + 1;
            <HnListItem Item="_items[i]" Index="index"></HnListItem>
        }

        @if(_isLoading){
            <HnListItem Index="_items.Count() + 1" Loader="true"></HnListItem>
        }
        @if (_isLoading)
        {
            <button class="loadmore loading" @onclick=LoadStories>
                <span class="loader"></span>
                Loading
            </button>
        }
        else{
            <button class="loadmore" @onclick=LoadStories>
                Load more
            </button>
        }
    }
</div>

@code{
    [Parameter]
    public string? Page { get; set; }

    private readonly int _pageSize = 25;
    private int _page = 0;
    private bool _isLoading;
    List<HnItemAlgolia> _items;
    List<long> _itemIds;
    HnStories stories;

    protected async override Task OnParametersSetAsync()
    {
        if (string.IsNullOrEmpty(Page))
        {
            stories = HnStories.Top;
        }
        else
        {
            switch (Page.ToLower())
            {
                case "best":
                    stories = HnStories.Best;
                    break;
                case "new":
                    stories = HnStories.New;
                    break;
                default:
                    stories = HnStories.Top;
                    break;
            }
        }

        _items = new();
        _itemIds = new();
        _page = 0;
        await LoadStories();
    }

    private async Task LoadStories()
    {
        HnStories stloaded = stories;
        _isLoading = true;
        StateHasChanged();
        _itemIds = await HNFetcher.FetchStories(stories);
        foreach (var id in _itemIds.Skip(_pageSize * _page++).Take(_pageSize))
        {
            var item = await HNFetcher.FetchItemAlgolia(id);

            _items.Add(item);
            StateHasChanged();
        }
        _isLoading = false;
        StateHasChanged();
    }
}