@using WhiteHat.Enums
<div class="tooltip-container" @onmouseover=MouseOver @onmouseout=MouseOut>
    @if (_show)
    {
        <div class="tooltip-wrapper @Position.ToString()">
            <div class="tooltip" style="--delay: @(Delay)s">
                @Title
            </div>
        </div>
    }
    @ChildContent
</div>
@code {
    private bool _show;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public ToolTipPosition Position { get; set; }

    [Parameter]
    public int Delay { get; set; } = 0;

    private void MouseOver()
    {
        _show = true;
    }

    private void MouseOut()
    {
        _show=false;
    }
}
