@using Blazored.LocalStorage
@using WhiteHat.Components;
@using WhiteHat.Services
@using WhiteHat.Misc;
@using WhiteHat.Models;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject StorageService Storage

<div class="page">
    <UpdateAvailable></UpdateAvailable>
    @if(_updated){
        <div class="updated-container">
            <p class="updated">
                You have been updated to <span>v@(Constants.CurrentVersion)</span>
            </p>
        </div>
    }
    <header>
        <img src="img/Logo.png" class="icon"/>
        <div class="navigation">
            <div>
                <NavLink class="nav" href="" Match="NavLinkMatch.All">
                    <span class="material-icons-round">
                        whatshot
                    </span>
                    Best
                </NavLink>
                <NavLink class="nav" href="/top">
                    Top
                </NavLink>
                <NavLink class="nav" href="/new">
                    New
                </NavLink>
                <NavLink class="nav" href="/ask">
                    Ask HN
                </NavLink>
                <NavLink class="nav" href="/show">
                    Show HN
                </NavLink>
                <NavLink class="nav" href="/job">
                    Jobs
                </NavLink>
            </div>
            <form class="search-container @(string.IsNullOrWhiteSpace(_search) ? string.Empty : "hasvalue")" @onsubmit=Search>
                <input type="text" @bind-value=_search @bind-value:event="oninput" />
                <span class="material-icons-round" @onclick=Search>
                    search
                </span>
            </form>
        </div>
    </header>
    <div class="h-gradient"></div>
    <main>
        @Body

    </main>
    <div class="shortcut-display @(_settings is not null && _settings.ShowShortcuts?"show":string.Empty)">
        <h3 class="title">
            Shortcuts
        </h3>
        <button @onclick=ToggleShortcuts class="close">
            <span class="material-icons-round">
                @(_settings is not null && _settings.ShowShortcuts ? "keyboard_double_arrow_down" : "keyboard_double_arrow_up")
            </span>
        </button>
        <div class="col">
            <ShortcutDisplay Title="Last post" Icon="arrow_upward" Key="w"></ShortcutDisplay>
            <ShortcutDisplay Title="Next post" Icon="arrow_downward" Key="s"></ShortcutDisplay> 
        </div>
        <div class="col">
            <ShortcutDisplay Title="Open in new tab" Icon="open_in_new" Key="o"></ShortcutDisplay>
            <ShortcutDisplay Title="Expand" Icon="article" Key="e"></ShortcutDisplay> 
        </div>
        <div class="col">
            <ShortcutDisplay Title="Toggle thread" Icon="notes" Key="a"></ShortcutDisplay>
            <ShortcutDisplay Title="Toggle pane" Icon="vertical_split" Key="d"></ShortcutDisplay>
            <ShortcutDisplay Title="Toggle pane Mode" Icon="loop" Key="q"></ShortcutDisplay>
        </div>
     </div>
</div>
