.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: var(--header-h);
    min-height: calc(100vh - (var(--header-h)));
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    margin: 8px;
    padding: 16px;
    width: calc(100% - 48px - .6rem);
    border: .3rem solid var(--bg);
    background: var(--bg-card);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(16px);
    z-index: 15;
}   

    header .icon {
        margin-right: 32px;
        margin-left: 8px;
        height: 100%;
    }

header .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
    header .navigation > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        flex: 1;
    }

    header .navigation ::deep .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        white-space: nowrap;
    }

    header .navigation ::deep .nav span {
        font-size: 1.3rem;
    }

    header .navigation ::deep .nav.active {
        color: var(--primary);
        font-weight: 800;
    }

    header .navigation .search-container {
        --size: 2.5rem;
        position: relative;
        height: auto;
        width: auto;
    }

        header .navigation .search-container input[type=text] {
            height: var(--size);
            width: var(--size);
            border: none;
            flex: 0;
            max-width: var(--size);
            margin: 0;
            padding: 0 1rem;
            box-sizing: border-box;
            border-radius: calc(var(--size)/2);
            background: var(--white10);
            font-family: var(--body-font);
            color: var(--text);
            transition: ease .2s all;
        }
            header .navigation .search-container input[type=text]:active,
            header .navigation .search-container input[type=text]:focus {
                outline: 2px solid var(--primary);
            }

            header .navigation .search-container.hasvalue input[type=text] {
                min-width: calc(var(--size) * 3);
            }

        header .navigation .search-container:not(.hasvalue) span {
            pointer-events: none;
        }

        header .navigation .search-container.hasvalue span {
            pointer-events: auto;
            cursor: pointer;
            background: var(--white10);
            border-radius: 50%;
            color: var(--primary);
            backdrop-filter: blur(10px);
        }

            header .navigation .search-container.hasvalue span:hover {
                background: var(--primary);
                color: var(--text);
                box-shadow: 0px 2px 6px var(--primary50), 0px 0px 16px var(--primary50);
            }

            header .navigation .search-container:hover input[type=text],
            header .navigation .search-container input[type=text]:focus {
                width: calc(var(--size) * 5);
            }

        header .navigation .search-container span {
            position: absolute;
            font-size: 1.2rem;
            top: 0;
            right: 0;
            margin: .2rem;
            padding: .45rem;
            font-weight: 900;
            color: var(--text50);
            transition: ease .2s all;
        }

    .h-gradient {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 3rem;
        background: linear-gradient(var(--bg) 10%, transparent);
        z-index: 14;
    }

.shortcut-display {
    position: fixed;
    right: 0;
    top: calc(100% + 120px + 1rem);
    transform: translateY(-100%);
    background: transparent;
    border: 0px solid var(--white10);
    backdrop-filter: blur(8px);
    padding: 8px;
    margin: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 0;
    transition: ease .3s top, ease .2s background, ease .2s border;
}

    .shortcut-display.show {
        top: calc(100% - 32px);
        background: var(--bg-card);
        border: 1px solid var(--white10);
    }

    .shortcut-display .title {
        position: absolute;
        right: 0;
        top: -2.25rem;
        margin: 0 1rem;
        font-size: 1.25rem;
        font-family: var(--title-font);
        font-weight: 800;
        font-style: italic;
        color: var(--text);
        opacity: 0;
        filter: drop-shadow(#000000 0 0px 0px) blur(12px);
        z-index: 0;
        pointer-events: none;
        transition: ease .3s filter, ease .2s opacity;
    }

        .shortcut-display.show .title {
            opacity: .4;
            filter: drop-shadow(#000000 0 4px 8px) blur(0px);
        }

    .shortcut-display .close {
        --size: 26px;
        position: absolute;
        top: calc((var(--size) * -2));
        right: 16px;
        height: var(--size);
        width: var(--size);
        max-height: var(--size);
        max-width: var(--size);
        min-height: var(--size);
        min-width: var(--size);
        border: 1px solid var(--white10);
        border-radius: 50%;
        background: var(--bg-card);
        backdrop-filter: blur(16px);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transition: ease .2s background, ease .3s top;
        cursor: pointer;
    }
    .shortcut-display.show .close {
        top: calc((var(--size) * -1)/2);
    }
        .shortcut-display .close:hover, .shortcut-display .close:active, .shortcut-display .close:focus {
            background: var(--bg-card1);
        }

        .shortcut-display .close span{
            color: var(--text);
            font-size: 14px;
        }

        .shortcut-display .col {
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 8px;
        }

.updated-container {
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    right: 16px;
    z-index: 100;
}

    .updated-container .updated {
        color: var(--color);
        bottom: 8px;
        font-size: 12px;
        background: var(--bg-card1);
        font-family: var(--font-header);
        padding: 8px 4px 8px 16px;
        border-radius: 18px;
        box-shadow: var(--primary) 0 0 16px -4px;
        border: 2px solid var(--primary);
        animation: ease-in-out updated 5s 1 forwards;
    }

        .updated-container .updated span {
            background: var(--active-bg);
            font-family: var(--font-mono);
            font-weight: 800;
            font-size: .8rem;
            border-radius: 14px;
            padding: 2px 6px;
            margin-left: 8px;
        }
@keyframes pulsate {
    0%, 10%, 90%, 100% {
        outline: var(--primary50) 1px solid;
        box-shadow: var(--primary50) 0 0 8px;
    }

    50% {
        outline: var(--primary50) 3px solid;
        box-shadow: var(--primary50) 0 0 24px;
    }
}

@keyframes updated {
    0% {
        filter: blur(12px);
        opacity: 0;
        transform: translateY(5rem) scale(0.8);
    }

    10% {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    90% {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0) scale(1);
    }

    100% {
        filter: blur(12px);
        opacity: 0;
        transform: translateY(5rem) scale(0.8);
    }
}


@media(max-width:640px) and (orientation: portrait) {
    .page {
        --header-h: 0px;
        min-height: 100vh;
        max-height: 100vh;
        overflow: hidden auto;
        box-sizing: border-box;
    }

    header {
        position: relative;
        background: none;
        flex-direction: column;
        width: calc(100% - 50px);
        height: auto;
        align-items: start;
    }

        header img {
            width: 40vw;
            min-height: 15vw;
            margin: 0px 32px !important;
            object-fit: contain;
            object-position: bottom;
        }

        header .navigation {
            margin: 0px 24px !important;
            width: calc(100% - 24px);
            gap: 12px;
        }

            header .navigation .search-container:hover input[type=text],
            header .navigation .search-container input[type=text]:focus {
                width: auto;
                flex: 1;
                max-width: calc(var(--size) * 5);
            }

    main {
        margin: 0;
        min-height: unset;
    }

    ::deep .container {
        --m: 0px;
        max-height: unset;
        position: unset;
    }

    ::deep .content.show-comments {
        top: 0;
    }
    ::deep .container .items-container {
        align-items: end;
        --w: 85%;
        padding-right: 8px;
    }

    ::deep .container .link-pane-container {
        --ideal-flex: 1;
        position: fixed;
        top: 100vh;
        width: calc(100% - 16px);
        bottom: unset;
        transform: translateY(-100%);
    }

    ::deep .container.open .link-pane-container .link-pane {
        min-height: 51vh;
        max-height: 51vh;
    }

    ::deep .container.open.small .link-pane-container .link-pane {
        min-height: 35vh;
        max-height: 35vh;
    }
}