@using Blazored.LocalStorage
@using WhiteHat.Components;
@using WhiteHat.Services
@using WhiteHat.Misc;
@using WhiteHat.Models;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage
@inject StorageService Storage

<div class="page">
    <UpdateAvailable></UpdateAvailable>
    @if(_updated){
        <div class="updated-container">
            <p class="updated">
                You have been updated to <span>v@(Constants.CurrentVersion)</span>
            </p>
        </div>
    }
    <header>
        <img src="img/Logo.png" class="icon"/>
        <div class="navigation">
            <div>
                <NavLink class="nav" href="" Match="NavLinkMatch.All">
                    Best
                </NavLink>
                <NavLink class="nav" href="/top">
                    Top
                </NavLink>
                <NavLink class="nav" href="/new">
                    New
                </NavLink>
                <NavLink class="nav" href="/ask">
                    Ask HN
                </NavLink>
                <NavLink class="nav" href="/show">
                    Show HN
                </NavLink>
                <NavLink class="nav" href="/job">
                    Jobs
                </NavLink>
            </div>
            <form class="search-container @(string.IsNullOrWhiteSpace(_search) ? string.Empty : "hasvalue")" @onsubmit=Search>
                <input type="text" @bind-value=_search @bind-value:event="oninput" />
                <span class="material-icons-round" @onclick=Search>
                    search
                </span>
            </form>
        </div>
    </header>
    <div class="h-gradient"></div>
    <main>
        @Body

    </main>
    <div class="shortcut-display @(_settings is not null && _settings.ShowShortcuts?"show":string.Empty)">
        <button @onclick=ToggleShortcuts class="close">
            <span class="material-icons-round">
                @(_settings is not null && _settings.ShowShortcuts ? "keyboard_double_arrow_down" : "keyboard_double_arrow_up")
            </span>
        </button>
        <div class="col">
            <div class="shortcut">
                <span class="material-icons-round">
                    arrow_upward
                </span>
                <div class="key">
                </div>
                <p>
                    Last post
                    <span>
                        w
                    </span>
                </p>
            </div>
            <div class="shortcut">
                <span class="material-icons-round">
                    arrow_downward
                </span>
                <div class="key">
                </div>
                <p>
                    Next post
                    <span>
                        s
                    </span>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="shortcut">
                <span class="material-icons-round">
                    notes
                </span>
                <div class="key">
                </div>
                <p>
                    Comments
                    <span>
                        a
                    </span>
                </p>
            </div>
            <div class="shortcut">
                <span class="material-icons-round">
                    article
                </span>
                <div class="key">
                </div>
                <p>
                    Expand
                    <span>
                        e
                    </span>
                </p>
            </div>
        </div>
        <div class="col">
            <div class="shortcut">
                <span class="material-icons-round">
                    vertical_split
                </span>
                <div class="key">
                </div>
                <p>
                    Open here
                    <span>
                        d
                    </span>
                </p>
            </div>
            <div class="shortcut">
                <span class="material-icons-round">
                    open_in_new
                </span>
                <div class="key">
                </div>
                <p>
                    Open in new tab
                    <span>
                        o
                    </span>
                </p>
            </div>
        </div>
     </div>
</div>
