.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main, article {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    min-height: 110vh;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    margin: 8px;
    padding: 16px;
    width: calc(100vw - 64px - .6rem);
    border: .3rem solid var(--bg);
    background: var(--bg-card);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(16px);
    z-index: 15;
}   

    header .icon {
        margin-right: 32px;
        margin-left: 8px;
        height: 100%;
    }

header .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

    header .navigation ::deep .nav {
        margin-right: 12px;
    }

    header .navigation ::deep .nav.active {
        color: var(--primary);
        font-weight: 800;
    }

    header .navigation .search-container {
        --size: 2.5rem;
        position: relative;
        height: auto;
        width: auto;
    }

        header .navigation .search-container input[type=text] {
            height: var(--size);
            width: var(--size);
            border: none;
            margin: 0;
            padding: 0 1rem;
            box-sizing: border-box;
            border-radius: calc(var(--size)/2);
            background: var(--white10);
            font-family: var(--body-font);
            color: var(--text);
            transition: ease .2s all;
        }
            header .navigation .search-container input[type=text]:active,
            header .navigation .search-container input[type=text]:focus {
                outline: 2px solid var(--primary);
            }

            header .navigation .search-container.hasvalue input[type=text] {
                min-width: calc(var(--size) * 3);
            }

        header .navigation .search-container:not(.hasvalue) span {
            pointer-events: none;
        }

        header .navigation .search-container.hasvalue span {
            pointer-events: auto;
            cursor: pointer;
            background: var(--white10);
            border-radius: 50%;
            color: var(--primary);
            backdrop-filter: blur(10px);
        }

            header .navigation .search-container.hasvalue span:hover {
                background: var(--primary);
                color: var(--text);
                box-shadow: 0px 2px 6px var(--primary50), 0px 0px 16px var(--primary50);
            }

            header .navigation .search-container:hover input[type=text],
            header .navigation .search-container input[type=text]:focus {
                width: calc(var(--size) * 5);
            }

        header .navigation .search-container span {
            position: absolute;
            font-size: 1.2rem;
            top: 0;
            right: 0;
            margin: .2rem;
            padding: .45rem;
            font-weight: 900;
            color: var(--text50);
            transition: ease .2s all;
        }

    .h-gradient {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 3rem;
        background: linear-gradient(var(--bg) 10%, transparent);
        z-index: 14;
    }