<div class="shortcut">
    <span class="material-icons-round">
        @Icon
    </span>
    <div class="key">
    </div>
    <p>
        @Title
        <span>
            @Key
        </span>
    </p>
</div>